:root {
    --navbar-height: 3.75rem;
}

.content-container {
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

header {
    height: var(--navbar-height);
}

main {
    padding-top: var(--navbar-height);
    max-width: 67.5rem;
}