.loader-with-label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.9375rem;
    padding: 0.625rem;
}

.spinner-container img,
.spinner-container svg {
    width: 1.5625rem;
    height: 1.5625rem;
    animation: loader 1s infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}