header {
    border-bottom: 1px solid var(--primary-color);
}

.header-content {
    padding: 5px;
    height: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.header-content h2 {
    margin-right: auto;
    user-select: none;
}

.header-logo {
    height: 30px;
    width: 40px;
    margin-right: 10px;
}

.header-logo img {
    height: 100%;
    width: 100%;
    display: block;
    user-select: none;
}