header {
    border-bottom: 1px solid var(--primary-color);
}

.header-content {
    padding: 0.3125rem;
    height: 100%;
    min-height: 3.125rem;
    display: flex;
    align-items: center;
}

.header-content h2 {
    margin-right: auto;
    user-select: none;
}

.header-logo {
    height: 1.875rem;
    width: 2.5rem;
    margin-right: 0.625rem;
}

.header-logo img {
    height: 100%;
    width: 100%;
    display: block;
    user-select: none;
}