.user-manual-entry {
    border-radius: 0.625rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1875rem;
    height: 2.1875rem;
}

.user-manual-entry svg {
    width: 1.25rem;
    height: 1.25rem;
}

.user-manual-entry:hover {
    cursor: pointer;
    background: var(--accent-color);
}