.logo-container {
    display: flex;
    align-items: center;
    user-select: none;
    gap: 0.5rem;
    margin-right: auto;
}

.logo-container svg {
    flex-shrink: 0;
}

.logo-text {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.125rem;
    font-weight: 700;
}