.hash-section-controls {
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.125rem;
}

.hash-validation-messages-block {
    padding: 0 0.625rem;
}