.debounce-input-container {
    margin-bottom: 0.9375rem;
}

.input-holder {
    margin-bottom: 0.3125rem;
    height: 3.125rem;
}

.helper-text {
    font-size: 0.875rem;
    padding: 0 0.625rem;
    opacity: .6;
}

