:root {
  --primary-color: #28313a;
  --secondary-color: #1b2127;
  --background-color: #111418;
  --accent-color: #0d80f2;
  --success-color: #54a364;
  --error-color: #e45e5e;
  --text-color: #ffffff;
  --font-family: 'Roboto', sans-serif;
  --default-animation-duration: .3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  transition: var(--default-animation-duration);
  letter-spacing: 0.03em;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 0 15px;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
}

input:hover,
input:active,
input:focus {
  border-color: var(--accent-color);
}

button {
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  background: var(--accent-color);
  color: var(--text-color);
}

button:focus,
button:hover {
  filter: brightness(1.1);
}

button:active {
  background-color: var(--primary-color);
}

button:disabled {
  opacity: .5;
  pointer-events: none;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  position: absolute;
  display: none;
  opacity: 0;
  /* filter: drop-shadow(0px 0px 2px var(--accent-color)); */
}

[data-tooltip]::before {
  content: '';
  border: 6px solid transparent;
  z-index: 101;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--text-color);
  z-index: 100;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}

[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--primary-color);
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 50%;
  transform: translate(-50%, -.4em);
}

[data-tooltip][data-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--primary-color);
}

[data-tooltip][data-flow^="bottom"]::after {
  top: calc(100% + 5px);
}

[data-tooltip][data-flow^="bottom"]::before,
[data-tooltip][data-flow^="bottom"]::after {
  left: 50%;
  transform: translate(-50%, .4em);
}

[data-tooltip][data-flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--primary-color);
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[data-tooltip][data-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.4em, -50%);
}

[data-tooltip][data-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--primary-color);
  right: calc(0em - 7px);
  transform: translate(.4em, -50%);
}

[data-tooltip][data-flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

@keyframes tooltip-vertical {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltip-horizontal {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^="top"]:hover::before,
[data-tooltip][data-flow^="top"]:hover::after,
[data-tooltip][data-flow^="bottom"]:hover::before,
[data-tooltip][data-flow^="bottom"]:hover::after {
  animation: tooltip-vertical var(--default-animation-duration) ease-out forwards;
}

[data-tooltip][data-flow^="left"]:hover::before,
[data-tooltip][data-flow^="left"]:hover::after,
[data-tooltip][data-flow^="right"]:hover::before,
[data-tooltip][data-flow^="right"]:hover::after {
  animation: tooltip-horizontal var(--default-animation-duration) ease-out forwards;
}