section {
  padding: 1.25rem;
  border-radius: 0.9375rem;
  flex: 1 1 18.75rem;
  transition: var(--default-animation-duration) all;
  line-height: 130%;
  /* border: 1px solid var(--primary-color); */
}

section h3 {
  margin-bottom: 0.625rem;
}